body{
    font-color:#fff;
    background:green
}

#header h1{
    text-align:center;
    color:#222;
}
#header p{
    text-align: center;
}

.post{
    width: 700px;
    margin:50px auto;
}

#footer{
    text-align: center;
}
